Repository yaleh/meta-cc: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosec-critical, go-test, plugin-version-bump, detect-hardcoded-hash, detect-userhomedir, check-error-handling

Path conditions:
  gosec-critical: any of: \.go$
  go-test: any of: \.go$
  plugin-version-bump: any of: ^\.claude/(commands|agents)/.*\.md$
  detect-hardcoded-hash: any of: _test\.go$
  detect-userhomedir: any of: _test\.go$
  check-error-handling: any of: \.go$

docs: update CHANGELOG for v2.0.1 with CI-derived local checks
  CHANGELOG.md
Due: none

chore: release v2.0.1
  CHANGELOG.md
Due: none

docs: add high‑priority validator task; complete docs health
  TODO.md
  docs/guides/mcp-jq-quick-reference.md
  internal/mcp/session_tools.go
  internal/mcp/tools_project.go
Due: gosec-critical, go-test, check-error-handling

docs: add Phase 7 simplification notes and archive Phase 23‑25 docs
  docs/DOCUMENTATION_MAP.md
  docs/archive/phase-23-25-query-refactoring.md
  docs/core/plan.md
Due: none

docs: add Phase 26 Stage 26.1 analysis complete
  docs/architecture/cli-removal-dependency-analysis.md
  docs/architecture/cli-removal-files-to-delete.txt
  docs/architecture/cli-removal-files-to-keep.txt
  docs/core/phase-26-cli-removal-plan.md
  docs/core/plan.md
Due: none

docs: add MCP E2E testing analysis and recommendations
  docs/analysis/mcp-e2e-testing-recommendations.md
  docs/analysis/stage2-feasibility-summary.md
  docs/analysis/stage2-go-implementation-feasibility.md
  docs/core/plan.md
  docs/guides/mcp-e2e-testing.md
  docs/guides/mcp-testing-quickstart.md
  tests/e2e/mcp-e2e-simple.sh
  tests/e2e/mcp-e2e-test.sh
Due: none

feat(phase27): complete Stage 27.5 - E2E testing and documentation framework
  Makefile
  cmd/mcp-server/executor.go
  cmd/mcp-server/executor_jq_filter_test.go
  cmd/mcp-server/executor_phase25_cleanup_test.go
  cmd/mcp-server/executor_test.go
  cmd/mcp-server/handlers_convenience.go
  cmd/mcp-server/handlers_query.go
  cmd/mcp-server/handlers_query_test.go
  cmd/mcp-server/handlers_stage1.go
  cmd/mcp-server/handlers_stage1_test.go
  cmd/mcp-server/handlers_stage2.go
  cmd/mcp-server/server_test.go
  cmd/mcp-server/tools.go
  cmd/mcp-server/tools_schema_test.go
  cmd/mcp-server/tools_test.go
  docs/analysis/phase27-e2e-testing-update-summary.md
  docs/core/plan.md
  docs/phases/phase-27-completion-summary.md
  docs/phases/phase-27-documentation-checklist.md
  docs/phases/phase-27-status.md
  internal/query/file_inspector.go
  internal/query/file_inspector_test.go
  internal/query/stage2_executor.go
  internal/query/stage2_executor_test.go
  tests/e2e/mcp-e2e-simple.sh
Due: gosec-critical, go-test, detect-hardcoded-hash, detect-userhomedir, check-error-handling

fix(query): prioritize recent sessions in query results
  .pre-commit-config.yaml
  capabilities/commands/meta-coach.md
  capabilities/commands/meta-timeline.md
  cmd/mcp-server/handlers_query.go
  cmd/mcp-server/handlers_query_test.go
  docs/guides/mcp.md
Due: gosec-critical, go-test, detect-hardcoded-hash, detect-userhomedir, check-error-handling

fix(lint): remove unused functions in handlers_stage2.go
  cmd/mcp-server/handlers_stage2.go
Due: gosec-critical, go-test, check-error-handling

chore: bump version to 2.0.2 in marketplace.json
  .claude-plugin/marketplace.json
Due: none

fix(release): make CLI binary checks optional in smoke tests
  scripts/smoke-tests.sh
Due: none

feat(release): add 4-layer pre-release automation (Phase 27.6)
  .pre-commit-config.yaml
  Makefile
  docs/guides/pre-release-automation.md
  scripts/bump-version.sh
  scripts/hooks/check-version-sync.sh
  scripts/hooks/validate-marketplace.sh
  scripts/pre-release-check.sh
  scripts/release.sh
Due: none

chore: bump version to 2.0.3
  .claude-plugin/marketplace.json
Due: none

chore: release v2.0.3
  CHANGELOG.md
Due: none

feat(automation): comprehensive infrastructure optimization
  .github/workflows/ci.yml
  .github/workflows/error-linting.yml
  .github/workflows/release.yml
  .github/workflows/rollback-release.yml
  .pre-commit-config.yaml
  Makefile
  scripts/checks/check-coverage.sh
  scripts/checks/check-debug.sh
  scripts/checks/check-deps.sh
  scripts/checks/check-fixtures.sh
  scripts/checks/check-go-quality.sh
  scripts/checks/check-scripts.sh
  scripts/checks/check-temp-files.sh
  scripts/checks/check-test-quality.sh
  scripts/checks/lint-errors.sh
  scripts/ci/capture-cli-metrics.sh
  scripts/ci/capture-mcp-metrics.sh
  scripts/ci/check-changelog-updated.sh
  scripts/ci/check-performance-regression.sh
  scripts/ci/smoke-tests.sh
  scripts/ci/track-metrics.sh
  scripts/install/install-consistency-hooks.sh
  scripts/install/install-hooks.sh
  scripts/install/install-pre-commit.sh
  scripts/install/install.sh
  scripts/install/uninstall-hooks.sh
  scripts/install/uninstall.sh
  scripts/release/bump-plugin-version.sh
  scripts/release/bump-version.sh
  scripts/release/generate-changelog-entry.sh
  scripts/release/pre-release-check.sh
  scripts/release/release.sh
  scripts/sync-plugin-files.sh
Due: none

fix(tests): update Bats tests to use reorganized script paths
  tests/scripts/test-check-performance-regression.bats
  tests/scripts/test-smoke-tests.bats
  tests/scripts/test-track-metrics.bats
Due: none

docs: sync CLAUDE.md with automation infrastructure updates
  CLAUDE.md
Due: none

docs: complete documentation synchronization (medium & low priority)
  CLAUDE.md
  README.md
  docs/core/plan.md
Due: none

docs(readme): add real-world use case examples to README
  README.md
Due: none

docs(phase27): complete two-stage query architecture documentation
  README.md
  docs/core/plan.md
  docs/examples/two-stage-query-examples.md
  docs/guides/mcp.md
  docs/guides/two-stage-query-guide.md
Due: none

chore: release v2.1.0
  .claude-plugin/marketplace.json
  CHANGELOG.md
Due: none

feat(release): add dry-run mode and improve CHANGELOG automation
  .github/workflows/rollback-release.yml
  scripts/release/release.sh
Due: none

fix: correct JSONL output format for MCP query tools
  cmd/mcp-server/executor.go
  cmd/mcp-server/handlers_convenience.go
  cmd/mcp-server/handlers_convenience_test.go
  cmd/mcp-server/handlers_query.go
  cmd/mcp-server/handlers_query_test.go
Due: gosec-critical, go-test, detect-hardcoded-hash, detect-userhomedir, check-error-handling

test: add E2E tests for JSONL output format fix
  cmd/mcp-server/integration_test.go
Due: gosec-critical, go-test, detect-hardcoded-hash, detect-userhomedir, check-error-handling

chore: release v2.1.1
  .claude-plugin/marketplace.json
  CHANGELOG.md
Due: none

ci: upgrade GitHub Actions to use Go 1.24
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: release v2.2.0
  .claude-plugin/marketplace.json
  CHANGELOG.md
Due: none

feat: implement Phase 28 - capability type system and prompt learning
  .golangci.yml
  .meta-cc/prompts/library/.gitignore
  CHANGELOG.md
  CLAUDE.md
  Makefile
  README.md
  capabilities/commands/meta-prompt.md
  capabilities/prompts/meta-prompt-list.md
  capabilities/prompts/meta-prompt-save.md
  capabilities/prompts/meta-prompt-search.md
  capabilities/prompts/meta-prompt-utils.md
  cmd/mcp-server/capabilities.go
  cmd/mcp-server/capabilities_cache_test.go
  cmd/mcp-server/capabilities_http_test.go
  cmd/mcp-server/capabilities_integration_test.go
  cmd/mcp-server/capabilities_test.go
  docs/core/plan.md
  docs/guides/mcp.md
  docs/guides/prompt-learning-system.md
  plans/28/ARCHITECTURE-DIAGRAM.md
  plans/28/IMPLEMENTATION-GUIDE.md
  plans/28/INDEX.md
  plans/28/PHASE-28-IMPLEMENTATION-PLAN.md
  plans/28/PROMPT-FILE-FORMAT.md
  plans/28/README.md
  plans/28/STAGE-2-VALIDATION.md
  plans/28/SUMMARY.txt
  scripts/checks/check-debug.sh
  tests/e2e/capability-type-e2e.sh
  tests/e2e/capability-type-simple.sh
  tests/fixtures/capabilities/commands/another-capability.md
  tests/fixtures/capabilities/commands/invalid-frontmatter.md
  tests/fixtures/capabilities/commands/meta-errors.md
  tests/fixtures/capabilities/commands/missing-name.md
  tests/fixtures/capabilities/commands/no-frontmatter.md
  tests/fixtures/capabilities/commands/valid-capability.md
Due: gosec-critical, go-test, detect-hardcoded-hash, detect-userhomedir, check-error-handling

refactor: integrate prompt library search and management into meta-prompt capability
  capabilities/commands/meta-prompt.md
  capabilities/prompts/meta-prompt-search.md
Due: none

feat: add prompt library management slash commands
  .claude-plugin/marketplace.json
  .claude/commands/prompt-find.md
  .claude/commands/prompt-list.md
  .claude/commands/prompt-show.md
  CLAUDE.md
Due: plugin-version-bump

feat: create subagent-prompt-construction skill with BAIME methodology
  .claude-plugin/marketplace.json
  .claude/agents/knowledge-extractor.md
  .claude/agents/phase-planner-executor.md
  .claude/skills/subagent-prompt-construction/EXTRACTION_SUMMARY.md
  .claude/skills/subagent-prompt-construction/README.md
  .claude/skills/subagent-prompt-construction/SKILL.md
  .claude/skills/subagent-prompt-construction/examples/phase-planner-executor.md
  .claude/skills/subagent-prompt-construction/experiment-config.json
  .claude/skills/subagent-prompt-construction/inventory/compliance_report.json
  .claude/skills/subagent-prompt-construction/inventory/inventory.json
  .claude/skills/subagent-prompt-construction/inventory/patterns-summary.json
  .claude/skills/subagent-prompt-construction/inventory/skill-frontmatter.json
  .claude/skills/subagent-prompt-construction/inventory/validation_report.json
  .claude/skills/subagent-prompt-construction/reference/case-studies/phase-planner-executor-analysis.md
  .claude/skills/subagent-prompt-construction/reference/integration-patterns.md
  .claude/skills/subagent-prompt-construction/reference/patterns.md
  .claude/skills/subagent-prompt-construction/reference/symbolic-language.md
  .claude/skills/subagent-prompt-construction/scripts/count-artifacts.sh
  .claude/skills/subagent-prompt-construction/scripts/extract-patterns.py
  .claude/skills/subagent-prompt-construction/scripts/generate-frontmatter.py
  .claude/skills/subagent-prompt-construction/scripts/validate-skill.sh
  .claude/skills/subagent-prompt-construction/templates/subagent-template.md
  docs/analysis/knowledge-extractor-meta-objective-analysis.md
  docs/analysis/knowledge-extractor-v3-upgrade-summary.md
  experiments/subagent-prompt-methodology/METHODOLOGY.md
  experiments/subagent-prompt-methodology/README.md
  experiments/subagent-prompt-methodology/config.json
  experiments/subagent-prompt-methodology/iterations/iteration-0.md
  experiments/subagent-prompt-methodology/iterations/iteration-1.md
  experiments/subagent-prompt-methodology/results.md
Due: plugin-version-bump

docs: add extraction report and subagent usage patterns analysis
  .claude/skills/subagent-prompt-construction.v2.1.backup/EXTRACTION_REPORT.md
  .claude/skills/subagent-prompt-construction.v2.1.backup/EXTRACTION_SUMMARY.txt
  .claude/skills/subagent-prompt-construction.v2.1.backup/README.md
  .claude/skills/subagent-prompt-construction.v2.1.backup/SKILL.md
  .claude/skills/subagent-prompt-construction.v2.1.backup/examples/phase-planner-executor.md
  .claude/skills/subagent-prompt-construction.v2.1.backup/inventory/integration-patterns-summary.json
  .claude/skills/subagent-prompt-construction.v2.1.backup/inventory/inventory.json
  .claude/skills/subagent-prompt-construction.v2.1.backup/inventory/patterns-summary.json
  .claude/skills/subagent-prompt-construction.v2.1.backup/inventory/skill-frontmatter.json
  .claude/skills/subagent-prompt-construction.v2.1.backup/inventory/skill-metrics.json
  .claude/skills/subagent-prompt-construction.v2.1.backup/reference/integration-patterns.md
  .claude/skills/subagent-prompt-construction.v2.1.backup/reference/patterns.md
  .claude/skills/subagent-prompt-construction.v2.1.backup/reference/symbolic-language.md
  .claude/skills/subagent-prompt-construction.v2.1.backup/scripts/count-artifacts.sh
  .claude/skills/subagent-prompt-construction.v2.1.backup/scripts/extract-patterns.py
  .claude/skills/subagent-prompt-construction.v2.1.backup/scripts/generate-frontmatter.py
  .claude/skills/subagent-prompt-construction.v2.1.backup/scripts/validate-skill.sh
  .claude/skills/subagent-prompt-construction.v2.1.backup/templates/subagent-template.md
  docs/analysis/subagent-usage-patterns.md
Due: none

Remove outdated reference materials and scripts for subagent prompt construction
  .claude/skills/subagent-prompt-construction.v2.1.backup/EXTRACTION_REPORT.md
  .claude/skills/subagent-prompt-construction.v2.1.backup/EXTRACTION_SUMMARY.txt
  .claude/skills/subagent-prompt-construction.v2.1.backup/README.md
  .claude/skills/subagent-prompt-construction.v2.1.backup/SKILL.md
  .claude/skills/subagent-prompt-construction.v2.1.backup/examples/phase-planner-executor.md
  .claude/skills/subagent-prompt-construction.v2.1.backup/inventory/integration-patterns-summary.json
  .claude/skills/subagent-prompt-construction.v2.1.backup/inventory/inventory.json
  .claude/skills/subagent-prompt-construction.v2.1.backup/inventory/patterns-summary.json
  .claude/skills/subagent-prompt-construction.v2.1.backup/inventory/skill-frontmatter.json
  .claude/skills/subagent-prompt-construction.v2.1.backup/inventory/skill-metrics.json
  .claude/skills/subagent-prompt-construction.v2.1.backup/reference/integration-patterns.md
  .claude/skills/subagent-prompt-construction.v2.1.backup/reference/patterns.md
  .claude/skills/subagent-prompt-construction.v2.1.backup/reference/symbolic-language.md
  .claude/skills/subagent-prompt-construction.v2.1.backup/scripts/count-artifacts.sh
  .claude/skills/subagent-prompt-construction.v2.1.backup/scripts/extract-patterns.py
  .claude/skills/subagent-prompt-construction.v2.1.backup/scripts/generate-frontmatter.py
  .claude/skills/subagent-prompt-construction.v2.1.backup/scripts/validate-skill.sh
  .claude/skills/subagent-prompt-construction.v2.1.backup/templates/subagent-template.md
Due: none

chore: update CHANGELOG for v2.3.0 release
  CHANGELOG.md
Due: none

chore: bump version to 2.3.0
  .claude-plugin/marketplace.json
Due: none

fix: update smoke tests to expect 18 skills
  scripts/ci/smoke-tests.sh
Due: none

feat: add markdown linting to CI/CD pipeline and implement metadata-driven query architecture
  .github/workflows/ci.yml
  .gitignore
  .markdownlint.json
  Makefile
  TODO.md
  capabilities/commands/meta-doc-structure.md
  cmd/mcp-server/executor.go
  cmd/mcp-server/executor_phase25_cleanup_test.go
  cmd/mcp-server/handlers_stage1.go
  cmd/mcp-server/server_test.go
  cmd/mcp-server/test.jsonl
  cmd/mcp-server/tools.go
  cmd/mcp-server/tools_test.go
  docs/DOCUMENTATION_MAP.md
  docs/architecture/metadata-driven-query-architecture.md
  docs/guides/markdown-linting.md
  go.mod
  go.sum
  internal/query/shell_helpers/query_helper.sh
  internal/query/shell_helpers/query_tool_errors.sh
  internal/query/shell_helpers/query_user_messages.sh
  internal/query/templates.go
  internal/query/templates/smart_file_filter.yaml
  internal/query/templates/time_range.yaml
  internal/query/templates/tool_errors.yaml
  internal/query/templates/user_messages.yaml
Due: gosec-critical, go-test, detect-hardcoded-hash, detect-userhomedir, check-error-handling

docs: normalize binary names to meta-cc-mcp and add show-errors command
  .gitignore
  README.md
  docs/tutorials/installation.md
  scripts/install/install.sh
  scripts/install/uninstall.sh
  tests/PLUGIN_VERIFICATION.md
  tests/install_test.sh
  tests/plugin_structure_test.sh
Due: none
