Repository yaleh/meta-cc: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosec-critical, go-test, validate-marketplace-json, plugin-version-bump, check-error-handling

Path conditions:
  gosec-critical: any of: \.go$
  go-test: any of: \.go$
  validate-marketplace-json: any of: \.claude-plugin/marketplace\.json$
  plugin-version-bump: any of: ^\.claude/(commands|agents)/.*\.md$
  check-error-handling: any of: \.go$

chore: bump version to v2.3.1
  .claude-plugin/marketplace.json
Due: validate-marketplace-json

fix: resolve markdown linting issues in PLUGIN_VERIFICATION.md
  tests/PLUGIN_VERIFICATION.md
Due: none

ci: temporarily allow markdown linting failures for v2.3.1
  .github/workflows/ci.yml
Due: none

fix: skip --version test in install script to prevent hanging (v2.3.2)
  .claude-plugin/marketplace.json
  scripts/install/install.sh
Due: validate-marketplace-json

test: add tests to increase coverage from 74.5% to 75.1%
  cmd/mcp-server/capabilities_test.go
  cmd/mcp-server/tracing_test.go
Due: gosec-critical, go-test, check-error-handling

chore: bump version to 2.3.3 in marketplace.json
  .claude-plugin/marketplace.json
Due: validate-marketplace-json

fix(.golangci.yml): use version 2 for golangci-lint v2.x
  .golangci.yml
Due: none

refactor: simplify workflow using BAIME methodology
  .pre-commit-config.yaml
  Makefile
Due: none

refactor: 精简 make、commit、CI 和 release 流程 (Phase 28.5)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Makefile
  docs/DOCUMENTATION_MAP.md
  docs/QUICK_ACCESS.md
  scripts/release/pre-release-check.sh
Due: none

chore: bump version to 2.3.5
  .claude-plugin/marketplace.json
Due: validate-marketplace-json

chore: release v2.3.5
  CHANGELOG.md
Due: none

feat: add query_edit_sequences with doc session signals (TASK-1)
  cmd/mcp-server/executor_phase25_cleanup_test.go
  cmd/mcp-server/server_test.go
  cmd/mcp-server/tools_test.go
  internal/analysis/service.go
  internal/analyzer/edit_sequences.go
  internal/analyzer/edit_sequences_test.go
  internal/mcp/executor/edit_sequences_handler.go
  internal/mcp/executor/edit_sequences_handler_test.go
  internal/mcp/tools/tools.go
Due: gosec-critical, go-test, check-error-handling

fix: auto-resolve relative paths and populate CoAccessedDoc.DocRole for non-queried docs
  cmd/mcp-server/integration_test.go
  internal/analysis/resolve_test.go
  internal/analysis/service.go
  internal/analyzer/edit_sequences.go
  internal/analyzer/edit_sequences_test.go
Due: gosec-critical, go-test, check-error-handling

fix(ci): repair PR 8 pipeline checks
  .github/workflows/ci.yml
  Makefile
  scripts/install/install-skills.sh
  scripts/install/install.sh
Due: none

fix(ci): migrate golangci exclusions to v2 schema
  .golangci.yml
Due: none

fix: query_edit_sequences returns immediately with empty result when no session files (TASK-4)
  .agent-summary-TASK-4
  internal/analysis/service.go
  internal/analysis/service_test.go
  internal/locator/args.go
  internal/locator/args_test.go
Due: gosec-critical, go-test, check-error-handling

chore: prepare v3.2.0 release — plugin bump, backlog setup, loop-backlog daemon
  .claude-plugin/marketplace.json
  .gitignore
  backlog/config.yml
  backlog/decisions/decision-1 - 示例：架构决策记录模板.md
  backlog/docs/doc-1 - Backlog-Web-UI-快速参考.md
  backlog/tasks/task-1 - Documentation-Session-Signals-File-Type-Classification-and-Co-Access-Pairs.md
  backlog/tasks/task-2 - Fix-query_edit_sequences-auto-resolve-relative-paths-and-populate-CoAccessedDoc.DocRole.md
  backlog/tasks/task-3 - Fix-loop-backlog-Monitor-use-tail-f-n-0-to-prevent-stale-log-replay-on-restart.md
  backlog/tasks/task-4 - Fix-query_edit_sequences-hang-when-no-session-files-found.md
  plugin-src/.claude-plugin/plugin.json
  scripts/basic-daemon.js
  scripts/basic-daemon.test.js
  scripts/sync-plugin-files.sh
Due: validate-marketplace-json

fix: remove unused functions and dead imports from locator/args.go
  internal/locator/args.go
Due: gosec-critical, go-test, check-error-handling

chore: release v3.2.0
  .claude-plugin/marketplace.json
  CHANGELOG.md
Due: validate-marketplace-json

feat: register prompt-library skills in plugin.json (TASK-8)
  plugin-src/.claude-plugin/plugin.json
Due: none

feat: TASK-7 consolidate 10 query_* tools into 3 semantic tools
  CLAUDE.md
  cmd/mcp-server/executor_jq_filter_test.go
  cmd/mcp-server/executor_no_cli_test.go
  cmd/mcp-server/executor_phase25_cleanup_test.go
  cmd/mcp-server/executor_test.go
  cmd/mcp-server/handlers_convenience_test.go
  cmd/mcp-server/handlers_query_test.go
  cmd/mcp-server/integration_test.go
  cmd/mcp-server/response_adapter_test.go
  cmd/mcp-server/server_test.go
  cmd/mcp-server/temp_file_manager_test.go
  cmd/mcp-server/tools_schema_test.go
  cmd/mcp-server/tools_test.go
  docs/guides/mcp-query-tools.md
  internal/mcp/executor/consolidated_handlers.go
  internal/mcp/executor/consolidated_handlers_test.go
  internal/mcp/executor/executor.go
  internal/mcp/executor/handlers.go
  internal/mcp/executor/registry_test.go
  internal/mcp/pipeline/pipeline.go
  internal/mcp/pipeline/pipeline_test.go
  internal/mcp/tools/tools.go
  internal/mcp/tools/tools_test.go
Due: gosec-critical, go-test, check-error-handling

fix: update codex E2E tests to use consolidated query_* tool names (TASK-7)
  tests/e2e/codex-e2e.sh
Due: none

fix: remove orphaned handleQuerySummaries after TASK-7 tool consolidation
  internal/mcp/executor/handlers.go
Due: gosec-critical, go-test, check-error-handling

chore: release v3.3.0
  .claude-plugin/marketplace.json
  CHANGELOG.md
  plugin-src/.claude-plugin/plugin.json
Due: validate-marketplace-json

feat: Update proposal statuses and implement various tools
  backlog/tasks/task-5 - Phase-86-Migrate-parser.SessionEntry-ToolCall-to-types.-in-test-files.md
  backlog/tasks/task-6 - Phase-85-Refactor-ExecuteSpecialTool-to-handler-registry.md
  backlog/tasks/task-7 - MCP-Tool-Budget-Consolidate-query_-tools-10→3.md
  backlog/tasks/task-8 - Skills-Packaging-Register-all-BAIME-skills-in-plugin.json.md
  docs/core/plan.md
  docs/plans/31-mcp-server-package-split.md
  docs/plans/47-49-query-ux-improvements.md
  docs/plans/50-51-query-noise-reduction.md
  docs/plans/52-55-query-ux-improvements.md
  docs/plans/60-64-architecture-hygiene-phase2.md
  docs/plans/65-analyzer-refactor.md
  docs/plans/66-70-jsonl-streaming-reader.md
  docs/plans/71-75-mcp-server-final-split.md
  docs/plans/78-80-query-architecture-cleanup.md
  docs/plans/81-86-arch-cleanup.md
  docs/plans/87-94-multi-provider-conversation.md
  docs/proposals/proposal-analyzer-refactor.md
  docs/proposals/proposal-architecture-hygiene-phase2.md
  docs/proposals/proposal-doc-session-signals.md
  docs/proposals/proposal-edit-sequence-tool.md
  docs/proposals/proposal-jsonl-streaming-reader.md
  docs/proposals/proposal-mcp-server-package-split.md
  docs/proposals/proposal-plugin-src-separation.md
  docs/proposals/proposal-query-architecture-cleanup.md
  docs/proposals/proposal-query-noise-reduction.md
  docs/proposals/proposal-query-ux-improvements.md
Due: none

chore: release v3.3.1
  .claude-plugin/marketplace.json
  CHANGELOG.md
  plugin-src/.claude-plugin/plugin.json
Due: validate-marketplace-json

fix: eliminate fragile jq post-processing in install-user by adding plugin-src marketplace.json with source='.'
  .agent-summary-TASK-9
  Makefile
  plugin-src/.claude-plugin/marketplace.json
  scripts/release/bump-plugin-version.sh
  scripts/sync-plugin-files.sh
Due: validate-marketplace-json

chore: remove leaked agent summary, add .agent-summary-* to gitignore
  .agent-summary-TASK-9
  .gitignore
Due: none

chore: remove project-local basic-daemon scripts (now bundled in BAIME plugin)
  backlog/tasks/task-9 - Fix-install-user-add-plugin-src-.claude-plugin-marketplace.json-with-source.-to-eliminate-jq-post-processing.md
  scripts/basic-daemon.js
  scripts/basic-daemon.test.js
Due: none

chore: release v3.3.2
  .claude-plugin/marketplace.json
  CHANGELOG.md
  plugin-src/.claude-plugin/plugin.json
Due: validate-marketplace-json

feat: unify version source-of-truth via bump-plugin-version.sh delegation
  Makefile
  scripts/release/bump-plugin-version.sh
  scripts/release/release.sh
  tests/scripts/bump-plugin-version.bats
  tests/scripts/release-version-update.bats
Due: none

fix: sync plugin-src marketplace.json version to 3.3.2 (pre-existing mismatch)
  plugin-src/.claude-plugin/marketplace.json
Due: validate-marketplace-json

fix: handle null directory in mcp-e2e-simple.sh when no sessions found
  tests/e2e/mcp-e2e-simple.sh
Due: none

docs: add TASK-10 backlog task file
  backlog/tasks/task-10 - Unify-version-source-of-truth-release.sh-delegates-to-bump-plugin-version.sh-install-user-reads-version-from-plugin.json-at-runtime.md
Due: none

docs: add CHANGELOG entry for v3.3.3
  CHANGELOG.md
Due: none

chore: release v3.3.3
  .claude-plugin/marketplace.json
  CHANGELOG.md
  plugin-src/.claude-plugin/plugin.json
Due: validate-marketplace-json

fix: release.sh includes plugin-src marketplace.json in version commit
  plugin-src/.claude-plugin/marketplace.json
  scripts/release/release.sh
Due: validate-marketplace-json

docs: add CHANGELOG entry for v3.3.4
  CHANGELOG.md
Due: none

chore: release v3.3.4
  .claude-plugin/marketplace.json
  CHANGELOG.md
  plugin-src/.claude-plugin/marketplace.json
  plugin-src/.claude-plugin/plugin.json
Due: validate-marketplace-json
